<HTML> 
  <HEAD> 
	 <TITLE>Thought Engine - Bibliomancy</TITLE><STYLE TYPE="text/css">
.capital {
  		font-size: large;
}
</STYLE> 
  </HEAD> 
  <BODY> 
	 <P>Thought for <%todaysdate%> by
		<A HREF="http://www.emogic.com" TARGET="_blank">Emogic</A> </P>
	 <TABLE CELLPADDING="0" CELLSPACING="1" BGCOLOR="#000000">
		<TR>
		  <TD>
			 <TABLE CELLPADDING="5" CELLSPACING="0" BGCOLOR="#FFFFFF">
				<TR>
				  <TD>
					 <P><FONT COLOR="#CC0000"><font size="+2"><%s%></font><%entence%></FONT> </P></TD>
				</TR>
			 </TABLE></TD>
		</TR>
	 </TABLE> 
	 <P>Today's Verse is found in the following context:</P> 

<font size="+2"><%sbefore%></font><%entencebefore%><br>
<font size="+2"><%s%></font><%entence%><br>
<font size="+2"><%safter%></font><%entenceafter%><br>

	 <P>Thought for <%todaysdate%> by
		<A HREF="http://www.emogic.com" TARGET="_blank">Emogic</A> </P> </BODY>
</HTML>
